﻿@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" ng-controller="BookCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h3>Book </h3>
            </div>
            <button type="button" class="btn btn-primary" ng-click="addBook()">Add new book</button><br/><br />
            <table class="table table-bordered table-hover">
                <thead> 
                    <tr> 
                        <th>Title</th> 
                        <th>Author</th> 
                        <th>Publisher</th> 
                        <th>Action</th> 
                   </tr> 
               </thead>
                <tbody> 
                    <tr ng-repeat="book in books"> 
                        <td>
                            <span editable-text="book.BookID" e-name="BookID" e-form="rowform" e-ng-show="false"></span>
                            <span editable-text="book.Title" e-name="Title" e-form="rowform">{{ book.Title || "empty" }}</span>
                        </td>
                        <td><span editable-text="book.Author" e-name="Author" e-form="rowform">{{ book.Author || "empty" }}</span></td>
                        <td><span editable-text="book.Publisher" e-name="Publisher" e-form="rowform">{{ book.Publisher || "empty" }}</span></td>
                        <td>
                            <form editable-form name="rowform" onbeforesave="saveBook($data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == book">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                    cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                                <button type="button" class="btn btn-danger" ng-click="deleteBook($index,book)">del</button>
                            </div>  
                       </td>
                   </tr>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Views/Home/index.js"></script>
}
